.DS_Store
node_modules/
*.env
*.log
**/*/__pycache__
input/**/*
!input/example-rss-feeds.md
!input/notes.txt
!input/0-audio-short.mp3
!input/0-tts-short.txt
!input/1-audio.mp3
!input/1-document.pdf
!input/1-docx.docx
!input/1-epub.epub
!input/1-odt.odt
!input/1-pptx.pptx
!input/1-tts.md
!input/1-xlsx.xlsx
!input/2-urls.md
!input/3-document.pdf
!input/3-urls.md
output/
plans/**/*.md
Library/
runtime/
runtime/auth/
test-output
new-llm-*.md
TODO.md
