node_modules
.DS_Store
.env
.idea
bin
build
models
/content
whisper.cpp
new-*.*
test.md
spec.log
setup-*.log
setup.log
TODO.md
output
src/text/workflows
whisper-cpp-temp
whisper-cpp-temp-coreml
whisper-coreml-temp
whisper-diarization-temp
input
eng.traineddata
=*
wan2.1-repo
*.pyc
__pycache__/