albums
.DS_Store
node_modules/
*.env
*.log
**/*/__pycache__
input/uss
input/ryan-gpt
input/ajc
input/examples/audio
input/examples/video
!input/examples/
!input/examples/document/
!input/examples/audio/0-audio-short.mp3
!input/examples/audio/1-audio.mp3
!input/examples/document/example-rss-feeds.md
!input/examples/document/0-tts-short.txt
!input/examples/document/1-document.pdf
!input/examples/document/1-docx.docx
!input/examples/document/1-epub.epub
!input/examples/document/1-odt.odt
!input/examples/document/1-pptx.pptx
!input/examples/document/1-tts.md
!input/examples/document/1-xlsx.xlsx
!input/examples/document/2-urls.md
!input/examples/document/3-document.pdf
!input/examples/document/my-dialogue.txt
!input/examples/batch/2-direct-urls.md
!input/examples/batch/2-urls.md
!input/examples/batch/example-rss-feeds.md
output/
plans/**/*.md
Library/
runtime/
runtime/auth/
test-output
project/test-output
new-llm-*.md
TODO.md
project/benchmark
project/links
project/plans
project/reports/*
!project/reports/.gitkeep
!project/reports/dashboard/
!project/reports/dashboard/**
project/reports/results/
config
**/*.wav

.projects/cache
.projects/vault
.env
.env.local

todo
**/*.png
**/*.jpg
**/*.jpeg
**/*.mp3
**/*.mp4